html {
    scroll-behavior: smooth;
}

.not-allowed
{
	cursor: not-allowed;
}

.head-left {
    text-align: left;
    margin-top: auto;
    margin-bottom: auto;
}

.head-right {
    text-align: right;
    margin-top: auto;
    margin-bottom: auto;
}

@media(max-width: 768px) {
    .head-left {
       text-align: center;
       margin-top: auto;
       margin-bottom: auto;
    }

    .head-right {
       text-align: center;
       margin-top: auto;
       margin-bottom: auto;
    }   
}